body {
  background-image: url('./openvino-bg.jpg');
  background-size: cover;
  min-height: 100vh;  
  background-attachment: fixed;
}

.leaflet-container {
  width: 100%;
  height: 300px; /* Ajusta la altura según necesites */
}